<!--perfil-->
<section id="perfil">
    <div class="container-fluid">
      <h1 class="light">Perfil</h1>
        <p class="h5">{{user.about}} Hola! Soy Kevin, diseñador industrial, y técnico electromecánico trilingüe. Estoy dando mis primeros pasos como desarrollador y todos los días estoy aprendiendo algo nuevo. Considero que los trabajos de equipos multidisciplinarios son de vital importancia para un crecimiento profesional y personal. Cuento con mas de 10 años de experiencia coordinando equipos de diseño y de producción. Además cuento con 8 años de experiencia en la docencia universitaria.</p>
        <br>
    <button class="btn btn-secondary" onclick="onEdit()">Editar</button>
  </div>
  </section>