<header>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="header-content-left">
          <h2>HOLA! SOY</h2>
          <h1 class="display-4">KEVIN MATSUDA</h1>        
          <h3 class="mb">DISEÑADOR - TECNICO - DESARROLLADOR</h3>
          
            <!--<div class="blockquote-custom-icon bg-warning">DISEÑADOR - TECNICO - DESARROLLADOR</div> -->
          </div>
        </div> 
        <div class="col-md-6">
          <div class="header-content-right">
          <img src="img/cuarenkevin2.png" style="width: 100%;" alt="Foto kevin matsuda">
          </div>
        </div>             
      </div>
    </div>
</header>