<header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="header-content-left">
          <h2>HOLA! SOY</h2>
          <h1 class="display-4">{{user?.nombre}} {{user?.apellido}}</h1>        
          <h3 class="mb">{{user?.titulo}}</h3>
          
          </div>
        </div> 
        <div class="col-md-6">
          <div class="header-content-right">
          <img src="../../../assets/1607131493148.jpg" style="width: 100%" alt="Foto perfil">
          </div>
        </div>             
      </div>
    </div>
</header>