<!--exp-->
<div class="container">
    <section id="experiencia">
      <h1>Experiencia</h1>
      <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="" class="img-fluid" alt="as">            
            </div>
            <div class="col">
                <h2>SUMAPACK</h2>
                <p class="h4">Diseñador y Encargado de producción</p>
                <p class="h5">Tareas de desarrollo y diseño de nuevos productos. Planificación y administración de la producción general de la empresa.</p>
                <p class="h5">Septiembre 2020 - Actualidad</p>
            </div>
        </div>
        </div>
    <br>
        <div class="container">
          <div class="row">
              <div class="col-2">
                  <img src="" class="img-fluid" alt="uba">            
              </div>
              <div class="col">
                  <h2>FADU UBA</h2>
                  <p class="h4">Docente de Grado - Diseño Industrial</p>
                  <p class="h5">Planificación del año léctivo y participación activa de correcciones.</p>
                  <p class="h5">Agosto 2013 - Actualidad</p>
              </div>
          </div>
          </div>
    <br>
          <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="" class="img-fluid" alt="uba">            
                </div>
                <div class="col">
                    <h2>ESTUDIO AXYZ</h2>
                    <p class="h4">Socio Fundador - Estudio de Diseño Industrial</p>
                    <p class="h5">Consultoría de diseño y desarrollo de productos.</p>
                    <p class="h5">2013 - 2015</p>
                </div>
            </div>
            <br>
            <button class="btn btn-secondary" onclick="onEdit()">Editar</button>
            </div>
    </section>
    </div>