 <!--educacion y distinciones-->
 <div class="container">
    <section id="educacion">
        <h1>Educacion</h1>
        <br>
        <div class="container">
          <div class="row">
              <div class="col-2">
                  <img src="img/logo argprog.png" class="img-fluid" alt="uba">            
              </div>
              <div class="col">
                  <h2>DESARROLLO WEB FULL STACK</h2>
                  <p class="h4">ARGENTINA PROGRAMA - MINISTERIO DE DESARROLLO PRODUCTIVO</p>
                  <p>2021 - 2022</p>
              </div>
          </div>
          </div>
         <br>
          <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="img/uba.jpg" class="img-fluid" alt="uba">            
                </div>
                <div class="col">
                    <h2>DISEÑO DE JUEGOS, JUGUETES E INTERFACES LUDICAS</h2>
                    <p class="h4">POSTGRADO - FADU UBA</p>
                    <p>2017</p>
                </div>
            </div>
            </div>
    <br>
            <div class="container">
              <div class="row">
                  <div class="col-2">
                      <img src="img/uba.jpg" class="img-fluid" alt="uba">            
                  </div>
                  <div class="col">
                      <h2>DISEÑO INDUSTRIAL</h2>
                      <p class="h4">GRADO - FADU UBA</p>
                      <p>2015</p>
                  </div>
              </div>
              </div>
    <br>
              <div class="container">
                <div class="row">
                    <div class="col-2">
                        <img src="img/escuela.png" class="img-fluid" alt="uba">            
                    </div>
                    <div class="col">
                        <h2>TECNICO ELECTROMECANICO BILINGÜE</h2>
                        <p class="h4">INSTITUTO TECNOLOGICO PHILIPS ARGENTINA</p>
                        <p>2006</p>
                    </div>
                </div>
                </div>
    <br>
                <div class="container">
                  <div class="row">
                      <div class="col-2">
                          <img src="img/vasco.jpg" class="img-fluid" alt="uba">            
                      </div>
                      <div class="col">
                          <h2>PROGRAMACION CONTROL NUMERICO COMPUTARIZADO</h2>
                          <p class="h4">INSTITUTO VASCO ARGENTINO</p>
                          <p>2005</p>
                      </div>
                  </div>
                  </div>
                  <br>
      <button class="btn btn-secondary" onclick="onEdit()">Editar</button>
      <br>
    </section>
    </div>