<!--skills-->
<div class="container-fluid">
  <div id="skills" class="row">
    <h1>Habilidades Duras y Blandas</h1>
  
   
    <div
      class="card"
      id="main-container"
      id="even"
      cdkDropList
      [cdkDropListData]="skillses"
      cdkDropListConnectedTo="even"
      (cdkDropListDropped)="onDrop($event)"
      #educationList="cdkDropList"
    >
      <div class="row skill">
        <div
          *ngFor="let skills of skillses"
          cdkDrag
          [cdkDragData]="skills"
          cdkDragPreviewContainer="parent"
          class="text-center col-xs-8 col-sm-8 col-md-6 col-lg-3"
        >
          <div class="skillcircle" >

            <button *ngIf="isloged()" type="button" (click)="onOpenModal ('edit', skills)" class="btn btn-primary"
                  data-bs-toggle="modal" data-bs-target="#editSkillsModal">
                  <i class="fa-solid fa-pen"></i>
                </button>
                <button *ngIf="isloged()" type="button" (click)="onOpenModal ('delete', skills)" class="btn btn-danger"
                  data-bs-toggle="modal" data-bs-target="#deleteSkillsModal">
                  <i class="fa fa-times"></i>
                </button>
          </div>
          <div class="card-body titles">
            <div class="card-title">
              {{ skills.nombreSkills }}
              <circle-progress
                [percent]="skills.porcentaje"
                [radius]="100"
                [showUnits]="false"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [showSubtitle]="true"
                [titleFontSize]="'500px'"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="4"
                [title]="skills.nombreSkills"
                [imageSrc]="skills.fotoSkills"
                [outerStrokeColor]="'black'"
                [innerStrokeColor]="'grey'"
                [animation]="true"
                [animationDuration]="800"
              ></circle-progress>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--boton a;adir-->
    <div class="text-center">
      <button *ngIf="isloged()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSkillsModal">
        Añadir Skill
      </button>

    </div>
    
    <!-- Add Skill Modal -->
    <div
      class="modal fade"
      id="addSkillsModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addSkillsModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addSkillsModalLabel">Agregar Skill</h5>
          </div>
          <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddSkills(addForm)">
              <div class="form-group">
                <label for="nombreSkills">Skill</label>
                <input
                  type="text"
                  ngModel
                  name="nombreSkills"
                  class="form-control"
                  id="nombreSkills"
                  placeholder="Titulo"
                  required
                />
              </div>
              <div class="form-group">
                <label for="porcentaje">Porcentaje</label>
                <input
                  type="number"
                  min="0"
                  max="100"
                  step="5"
                  ngModel
                  name="porcentaje"
                  class="form-control"
                  id="porcentaje"
                  placeholder="porcentaje"
                  required
                />
              </div>
    
              <div class="form-group">
                <label for="fotoSkills">URL de la imagen</label>
                <input
                  type="text"
                  ngModel
                  name="fotoSkills"
                  class="form-control"
                  id="fotoSkills"
                  placeholder="URL de la imagen"
                  required
                />
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Cerrar
                </button>
                <button
                  [disabled]="addForm.invalid"
                  type="submit"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                >
                  Guardar Cambios
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Edit skill modal -->
    <div
      class="modal fade"
      id="editSkillsModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="editSkillsModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editSkillsModalLabel">
              Editar Skill {{ editSkills?.nombreSkills }}
            </h5>
          </div>
          <div class="modal-body">
            <form #editForm="ngForm">
              <div class="form-group">
                <label for="nombreSkills">Titulo</label>
                <input
                  type="text"
                  ngModel="{{ editSkills?.nombreSkills }}"
                  name="nombreSkills"
                  class="form-control"
                  id="nombreSkills"
                  aria-describedby="emailHelp"
                  placeholder="Nombre Skill"
                />
              </div>
              <input
                type="hidden"
                ngModel="{{ editSkills?.idSkills }}"
                name="idSkills"
                class="form-control"
                id="idSkills"
                placeholder=""
              />
    
              <div class="form-group">
                <label for="porcentaje">Porcentaje</label>
                <input
                  type="number"
                  min="0"
                  max="100"
                  step="5"
                  ngModel="{{ editSkills?.porcentaje }}"
                  name="porcentaje"
                  class="form-control"
                  id="porcentaje"
                  placeholder="Porcentaje"
                />
              </div>
    
              <div class="form-group">
                <label for="fotoSkills">URL de la imagen</label>
                <input
                  type="text"
                  ngModel="{{ editSkills?.fotoSkills }}"
                  name="fotoSkills"
                  class="form-control"
                  id="fotoSkills"
                  placeholder="URL de la imagen"
                />
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  id="3"
                  data-bs-ismiss="modal"
                  class="btn btn-secondary"
                >
                  Cerrar
                </button>
                <button
                  (click)="onUpdateSkills(editForm.value)"
                  data-bs-dismiss="modal"
                  class="btn btn-primary"
                >
                  Guardar Cambios
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Delete skill modal -->
    <div
      class="modal fade"
      id="deleteSkillsModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="deleteSkillsModelLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteSkillsModelLabel">Borrar Skill</h5>
          </div>
          <div class="modal-body">
            <p>
              Está seguro que desea borrar
              {{ deleteSkills?.nombreSkills }}?
            </p>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                No
              </button>
              <button
                (click)="onDeleteSkills(deleteSkills!.idSkills)"
                class="btn btn-danger"
                data-dismiss="modal"
              >
                Si
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Notification for no skills -->
    <div *ngIf="skillses?.length==0" class="col-lg12 col-md=12 col-xl-12">
      <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">No hay Skills</h4>
        <p>Skills no encontradas.</p>
      </div>
    </div>

  </div>
</div>


