<!--skills-->
<div class="container">
    <section id="skills">
      <h1>Skills</h1>
      <div class="container">
        <div class="row">
            <div class="col-2">
                <h2>HARD SKILLS</h2>            
            </div>
            <div class="col">
                <div class="progress-bar-component">
                  <div class="col-md-3">Skill label</div>
                  <div class="progress col-md-9">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="10" 
                    aria-valuemin="0" aria-valuemax="100" style="width: 10%"></div>
                  </div>
                  <br>
                </div>
                <p class="h4">Paquete ADOBE</p>
                <p>Nivel: Intermedio - Avanzado</p>
                <p class="h4">HTML5</p>
                <p>Nivel Basico</p>
                <p class="h4">CSS + Bootstrap</p>
                <p>Nivel Basico</p>
                <p class="h4">Javascript</p>
                <p>Nivel Basico</p>
                <p class="h4">Typescript</p>
                <p>Nivel Basico</p>
                <p class="h4">Angular</p>
                <p>Nivel Basico</p>
                <p class="h4">MySQL</p>
                <p>Nivel Basico</p>
                <p class="h4">Java</p>
                <p>Nivel Basico</p>
                <p class="h4">SpringBoot</p>
                <p>Nivel Basico</p>
                <p class="h4">Ruby</p>
                <p>Nivel Basico</p>
            </div>
        </div>
      </div>
  
          <div class="container">
            <div class="row">
                <div class="col-2">
                    <h2>SOFT SKILLS</h2>            
                </div>
                <div class="col">
                  <div class="progress-bar-component">
                    <div class="col-md-3">Skill label</div>
                    <div class="progress col-md-9">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" 
                      aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                    </div>
                    <br>
                    <p class="h4">Trabajo en equipos multidisciplinarios</p>
                    <p>Trabajo colaborativo con personas de distintas disciplinas para ampliar la vision del proyecto</p>
                    <p class="h4">Coordinacion y Liderazgo</p>
                    <p>Trabajo colaborativo con personas de distintas disciplinas para ampliar la vision del proyecto</p>
                    <p class="h4">Autonomia</p>
                    <p>Trabajo colaborativo con personas de distintas disciplinas para ampliar la vision del proyecto</p>
                    <p class="h4">Comunicacion</p>
                    <p>Trabajo colaborativo con personas de distintas disciplinas para ampliar la vision del proyecto</p>
                    <p class="h4">Compromiso</p>
                    <p>Trabajo colaborativo con personas de distintas disciplinas para ampliar la vision del proyecto</p>
                </div>
            </div>
            </div>
    </div>
