 <!--contacto-->
 <section id="contacto">
    <div class="container-fluid">
      <h1 class="light">Contacto</h1>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="cellphone">Telefono</a></li>
        <li class="nav-item"><a class="nav-link" href="mailto: matsuda.m.kevin@gmail.com">eMail</a></li>       
        <li class="nav-item"><a class="nav-link" href="https://ar.linkedin.com/in/matsudamkevin">linkedin</a></li>
        <li class="nav-item"><a class="nav-link" href="https://github.com/devQuebin">gitHub</a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/">instagram</a></li>
      </ul>
      <br>
    <button class="btn btn-secondary" onclick="onEdit()">Editar</button>
  </div>
  </section>
