<div class="container">
    <div class="row-g-3">
        <div class="col-12 col-m-6 col-lg-4">
            <div class="card">
                <img src="../../../assets/github-logo.png" alt="imgProy" class="card-img-top">
                <div class="card-body">
                    <h5>TITULO PROYETO</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit itaque doloribus
                        repellat, placeat ratione praesentium? Culpa iusto quam placeat deleniti quod at, eos eveniet
                        aliquam officiis debitis laboriosam illum sunt.</p>
                </div>
            </div>
            
        </div>
        <div class="col-12 col-m-6 col-lg-4">
            <div class="card">
                <img src="../../../assets/github-logo.png" alt="imgProy" class="card-img-top">
                <div class="card-body">
                    <h5>TITULO PROYETO</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit itaque doloribus
                        repellat, placeat ratione praesentium? Culpa iusto quam placeat deleniti quod at, eos eveniet
                        aliquam officiis debitis laboriosam illum sunt.</p>
                </div>
            </div>
            
        </div>
        <div class="col-12 col-m-6 col-lg-4">
            <div class="card">
                <img src="../../../assets/github-logo.png" alt="imgProy" class="card-img-top">
                <div class="card-body">
                    <h5>TITULO PROYETO</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit itaque doloribus
                        repellat, placeat ratione praesentium? Culpa iusto quam placeat deleniti quod at, eos eveniet
                        aliquam officiis debitis laboriosam illum sunt.</p>
                </div>
            </div>
            
        </div>

    </div>

</div>