<!-- NAVBAR -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
       <a href="#" class="navbar-brand"><img src="../../../assets/APLogo.png" id="logoap" alt="logoap"></a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#firstNavbar" aria-controls="firstNavbar" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
 <!--el boton funciona, abre, pero no cierra-->
     <div class="collapse navbar-collapse" id="firstNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="#perfil">Perfil</a></li>
        <li class="nav-item"><a class="nav-link" href="#experiencia">Experiencia</a></li>       
        <li class="nav-item"><a class="nav-link" href="#educacion">Educacion y Distinciones</a></li>
        <li class="nav-item"><a class="nav-link" href="#skills">Skills</a></li>
        <li class="nav-item"><a class="nav-link" href="#contacto">Contacto</a></li>
      </ul>
      <form class="d-flex">
        <button 
        type="button" 
        class="btn btn-outline-success" 
        (click)="login()">Login</button>
      </form>
      </div>
     </div>
   </nav>
